#name-input {
    position: absolute;
    width: 45px;
    top: -9px;
    height: 25px;
    left: 40px;
}
#greet {
    position: absolute;
    left: 10px;
    top: 32.5%;
    font-weight: 500;
}

.name-navbar {
    position: relative;
    left: 8px;
}
